body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 200;
  color: #fff;
  background-image: -webkit-radial-gradient(farthest-side circle at 20% 20%, #1a223f, #13141a);
  background-image: radial-gradient(farthest-side circle at 20% 20%, #1a223f, #13141a);
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }


.menu {
      position: absolute;
      left: 0;
      top: 0;
      border: 2px solid #aaa;
      padding: 25px;
      width: 200px;
      box-shadow: 0 0 10px #618c8e;
      background: rgba(30, 69, 76, 0.8); }
}

.menu:hover {
      box-shadow: 0 0 15px 0px #8fb7a3;
      border: 2px solid #ccc; }
}

.menu:hover {
      box-shadow: 0 0 25px #8fb7a3; }
}

.title, .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


a {
    color: #ffffff;
}
